.myPlanDiv {
    width: 28.438rem;
    height: 20.5rem;
    border-radius: 8px;
    border: solid 1px #dadada;
    overflow-y: auto;
}

.headerPlan {
    height: 4rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.firstCheckIcon {
    color: #0059ff;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.titleHeader {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #0059ff;
}

.priceHeader {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    color: #161616;
}


.buttonPlan {
    width: 33.1%;
    margin-top: 0.5rem;
}

li {
    height: 1.6rem;
    font-size: 0.8rem;
    justify-content: space-between;
    line-height: 1rem;
    color: #161616;
    display: flex;
    align-items: center;
    width: 85%;
    margin-bottom: 0.5rem;
}

.checkIcon {
    color: #0059ff;
    font-size: 1.3rem;
}

.cancelIcon {
    color: #92929d;
    font-size: 1.3rem;
}

.buttonPlan button {
    width: 28.438rem;
    height: 3rem;
}