<div class="planSection">
                    
    <div class="myPlanDiv">
        <div class="headerPlan">
            <mat-icon class="firstCheckIcon">check_circle</mat-icon>
            <span class="titleHeader">Plano Completo</span> <span class="priceHeader">79$</span> <span
            class="frequencyHeader">/ por mês</span>
        </div>
        <div class="listItens">
            <ul style="list-style: none;">
                <li>Busca de processos automática <mat-icon class="checkIcon">check_circle</mat-icon>
                </li>
                <li>5 jurisdições de atuaçãoo <mat-icon class="checkIcon">check_circle</mat-icon>
                </li>
                <li>1 usário <mat-icon class="checkIcon">check_circle</mat-icon>
                </li>
                <li>Processos ilimitados <mat-icon class="checkIcon">check_circle</mat-icon>
                </li>
                <li>Gestão de equipes <mat-icon class="cancelIcon">cancel</mat-icon>
                </li>
                <li>Controle de honorários<mat-icon class="cancelIcon">cancel</mat-icon>
                </li>
                <li>Créditos ilimtados<mat-icon class="cancelIcon">cancel</mat-icon>
                </li>
            </ul>
        </div>
    </div>
    <div class="buttonPlan">
        <button mat-raised-button color="primary">Gestão de Plano</button>
    </div>
</div>