.formField{
  font-size: 0.8rem;
}

.mat-slide{
  margin-bottom: 0.9rem;
}

.loginLinks {
  margin-top: 1rem;
}

.loginLinks a{
  line-height: 1rem;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.capsOn {
  margin-top: -5px;
  font-size: 0.7rem;
  /*color: #ff9800; GOLD*/
  display: flex;
  align-items: center;
}

.capsOn img {
  width: 1rem;
  height: 1rem;
  /*filter: invert(55%) sepia(94%) saturate(1075%) hue-rotate(358deg) brightness(100%) contrast(107%); GOLD*/

}
