<div class="loginForms">
  <h1 class="title">Fazer Login</h1>

  <app-alert *ngIf="errorResponse" title="Dados inválidos" message="{{errorResponse}}" type="error" style="width: 29rem"></app-alert>

  <form name="loginForms" [formGroup]="loginForm" class="forms">

    <mat-form-field class="formField" appearance="outline" hideRequiredMarker>
      <mat-label>CPF</mat-label>
      <input mask="000.000.000-00" formControlName="login" matInput placeholder="Digite seu CPF" required/>
      <mat-icon *ngIf="loginForm.controls['login'].value"
                matSuffix [color]="!loginForm.controls['login'].valid ? 'warn' : 'primary'">
        {{!loginForm.controls['login'].valid ? 'block' : 'check_circle_outline'}}
      </mat-icon>
      <mat-error *ngIf="!loginForm.controls['login'].valid">
        O CPF informado é inválido. Digite um CPF válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="formField" appearance="outline" hideRequiredMarker>
      <mat-label>Senha</mat-label>
      <input formControlName="password" matInput [type]=" hidePassword ? 'password' : 'text'" required/>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon color="primary">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
      <mat-error *ngIf="!loginForm.controls['password'].valid">
        Digite uma senha válida.
      </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="keepLogged" class="mat-slide" style="font-size: 0.75rem;" color="primary"
                      >Manter-me conectado
    </mat-slide-toggle>
  </form>

  <button mat-raised-button class="primaryButton" (click)="sendToServer()" color="primary">
    Login
  </button>

  <div class="loginLinks">
        <span>
          <a class="aLink" routerLink="/auth/forgotpass">Esqueceu a senha?</a>
          <img src="../../../../assets/svg/icons/icone_account.svg" style="width: 1.5rem; height: 1rem;" />
        </span>

    <span class="register">
          <a routerLink="/register">Ainda não tenho conta</a> <mat-icon class="footerIcon"
                                                                        color="primary">arrow_forward</mat-icon>
        </span>
  </div>
</div>
