<div class="loginBox">
  <h1>Fazer Login</h1>

  <app-alert title="Falha no login" message="{{errorResponse}}"
             *ngIf="errorResponse !== undefined &&  errorResponse.length > 0" type="{{errorType}}" style="width: 29rem;" canclose="false">

  </app-alert>

  <form name="loginForms" [formGroup]="loginForm" class="forms">

    <mat-form-field class="formField" appearance="outline" hideRequiredMarker>
      <mat-label>CPF</mat-label>
      <input mask="000.000.000-00" formControlName="login" matInput placeholder="Digite seu CPF" required/>
      <mat-icon *ngIf="loginForm.controls['login'].value"
                matSuffix [color]="!loginForm.controls['login'].valid ? 'warn' : 'primary'">
        {{!loginForm.controls['login'].valid ? 'block' : 'check_circle_outline'}}
      </mat-icon>
      <mat-error *ngIf="!loginForm.controls['login'].valid">
        O CPF informado é inválido. Digite um CPF válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="formField" appearance="outline" hideRequiredMarker>
      <mat-label>Senha</mat-label>
      <input formControlName="password" matInput [type]=" hidePassword ? 'password' : 'text'" (keyup)="capsOn($event)" required/>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon color="primary">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
      <mat-error *ngIf="!loginForm.controls['password'].valid">
        Digite uma senha válida.
      </mat-error>
    </mat-form-field>
    <p *ngIf="alertCaps" class="capsOn">
      <img src="assets/svg/icons/waring_outlined.svg" />O CapsLock está ligado
    </p>

    <mat-slide-toggle formControlName="keepLogged" class="mat-slide" style="font-size: 0.75rem;" color="primary"
                      >Manter-me conectado
    </mat-slide-toggle>
  </form>

  <button mat-raised-button [disabled]="!loginForm.valid" class="fullwidth" (click)="sendToServer()" color="primary">
    Login
  </button>

  <div class="flexsb fullwidth loginLinks">
    <a routerLink="/auth/forgotpass" class="uprblue">
      Esqueci minha senha
      <img src="assets/svg/icons/icone_account.svg" style="width: 1.7rem; height: 1.2rem;" />
    </a>
    <!--<button (click)="clearLocalStorage()">
      Limpar storage
    </button>-->
    <a routerLink="/register" class="uprblue">
      Não tenho conta
      <mat-icon color="primary">arrow_forward</mat-icon>
    </a>
  </div>
</div>
