<mat-toolbar class="toolBar">

  <span class="titleSection">{{loginService.sectionTitle}}</span>

  <div class="secondSection">

    <div class="searchSection">
      <img class="icon search" src="assets/svg/icons/icone_busca.svg" alt="Pesquisar"/>
      <input type="text" placeholder=" Pesquisar..." class="searchInput"/>
    </div>

    <div class="time flex">
      <span>10:50 hoje, 28 Maio 2020</span>
      <img class="icon calendar" src="assets/svg/icons/icone_calendario.svg" alt="Calendario"/>
    </div>

    <div class="trialPeriod" *ngIf="onTrial">
      <button class="buttonToContract" mat-raised-button color="primary">
        Contratar
      </button>

      <mat-progress-spinner mode="determinate" value="90" [diameter]="32" color="#36b5ff">
      </mat-progress-spinner>
      <span class="restingDays">9</span>

      <p class="pTrial">dias restantes</p>
    </div>

    <button mat-icon-button>
      <mat-icon class="Icon">notifications_none</mat-icon>
    </button>

    <div class="profileSection">
      <app-avatar sizeSelected="small"></app-avatar>
      <span class="profileName">
        {{loginService.nome}}
        <span class="OAB">{{loginService.oab}}</span>
      </span>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="Icon material-icons-outlined">expand_circle_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Conta</button>
      <button mat-menu-item>Plano</button>
      <button mat-menu-item>Sair</button>
    </mat-menu>

    <div *ngIf="!hasCerti" class="tokenArea" matTooltipPosition="left" matTooltip="Clique pra sair do modo sem certificado">
      <span style="color: white;" class="material-icons-outlined">
        remove_moderator
      </span>
    </div>
  </div>


</mat-toolbar>
