<mat-toolbar class="toolBar">

  <div class="firstSection">
    <span class="titleSection">{{title}}</span>
  </div>



  <div class="secondSection">

    <div class="searchSection">
      <input type="text" placeholder="Pesquisar..." class="searchInput">
    </div>
    <div class="time">
      <span>10:50 hoje, 28 Maio 2020</span>
    </div>

    <div class="trialPeriod">
      <button class="buttonToContract" mat-raised-button color="primary">
        Contratar
      </button>

      <div class="timeTrial">
        <mat-progress-spinner mode="determinate" value="90" [diameter]="32" color="#36b5ff">
        </mat-progress-spinner>
        <span class="restingDays">9</span>
      </div>
      <p class="pTrial">dias restantes</p>
    </div>

    <button mat-icon-button>
      <mat-icon [matBadgeHidden]="true" matBadge="15" matBadgeColor="warn" class="Icon">help_outline</mat-icon>
    </button>


    <button mat-icon-button>
      <mat-icon class="Icon">notifications_none</mat-icon>
    </button>

    <div class="profileSection">
      <img class="profilePicture" src="../../../../assets/imgs/marinasilva.jpg" alt="">

      <div class="profileInfo">
        <div class="profileName">
          <span>Marina Silva Santos</span>
        </div>
        <span class="OAB"> OAB MG - 12345</span>
      </div>
      <button mat-icon-button>
        <mat-icon class="arrowDown">expand_circle_down</mat-icon>
      </button>
    </div>
  </div>


</mat-toolbar>
