.toolBar {
  background-color: #0031cb;
  padding: 0px;
  display: flex;
  align-items: center;
  height: 3.5rem;
  justify-content: space-between;
  width: 100%;
}

.titleSection {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin-left: 1rem;
}

.secondSection {
  display: flex;
  align-items: center;
}

.searchSection {
  border: 1px solid white;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  height: 2rem;
  border-radius: 0.5rem;
}

.icon {
  padding-left: 0.5rem;
}

.searchInput {
  background: none;
  color: #ffff;
  border: none;
  width: 11rem;
  height: 1.8rem;
}

.searchInput::-webkit-input-placeholder {
  color: white;
}

.searchInput:focus {
  outline: 0;
}

.time {
  height: 2rem;
  width: 13rem;
  background-color: #f4f7fc;
  font-size: 0.75rem;
  text-align: center;
  border-radius: 8px;
  margin-right: 1rem;
  color: #979797;
}

.calendar {
  filter: invert(18%) sepia(64%) saturate(6145%) hue-rotate(221deg) brightness(106%) contrast(107%);
}

.trialPeriod {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.buttonToContract {
  margin-right: 0.5rem;
  height: 2rem;
  width: 7.5rem;
  line-height: 1rem;
}

.restingDays {
  margin-left: -20px;
}

.trialPeriod span {
  font-size: 1rem;
  color: #ffff;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #36b5ff;
}

.pTrial {
  font-size: 0.65rem;
  line-height: 1rem;
  color: #ffffff;
  font-weight: 600;
  margin-left: 1rem;
}

.Icon {
  color: white;
}

.profileSection {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  color: #ffffff;
}

.profileName {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: bold;
}

.OAB {
  margin-top: -15px;
  font-size: 0.625rem;
}

.tokenArea {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  background-color: #36b5ff;
  margin-left: 1rem;
  transition: 0.5s;
}

.tokenArea:hover {
  background-color: #0031cb;
}

/*



.profileInfo {
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  color: #ffffff;
  font-weight: bold;
}

.OAB {
  width: 4.938rem;
  height: 0.938rem;
  font-size: 0.625rem;
}

.arrowDown {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1rem;
}

.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.secondSection {
  display: flex;
  align-items: center;
  !* margin-right: 2rem; *!
}

.iconButton {
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #18181a;

}




.clientPhoto {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  border: 2.5px solid white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientPhoto img {
  height: 100%;
}







*/
