<mat-toolbar class="custom-toolbar">
    <div class="unicoLogo">
        <img src="../../../../assets/imgs/logo2.png" alt="logo unico">
    </div>

    <div class="firstSection">
        <input type="text" placeholder="Pesquisar..." class="searchInput">
        <div class="time">
            <span>10:50 hoje, 28 Maio 2020</span>
        </div>
    </div>


    <div class="secondSection">

        <button class="buttonToContract" mat-raised-button color="primary">
            Contratar
        </button>

        <div class="timeTrial">
            <mat-progress-spinner mode="determinate" value="90" [diameter]="32" color="#36b5ff">
            </mat-progress-spinner>
        <span class="restingDays">9</span>
    </div>
    <p class="pTrial">dias restantes</p>



    <mat-icon class="help Icon">
        help_outline
    </mat-icon>


    <mat-icon class="notifications Icon">
        notifications_none
    </mat-icon>

    <div class="profileSection">
        <img class="profilePicture" src="../../../../assets/imgs/marinasilva.jpg" alt="">

        <div class="profileInfo">
            <div class="profileName">
                <span>Marina Silva Santos</span>
            </div>
            <span class="OAB"> OAB MG - 12345</span>
        </div>
        <mat-icon class="arrowDown">expand_circle_down</mat-icon>
    </div>
</div>
</mat-toolbar>
