.infoBox {
  display: flex;
  align-items: stretch;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0.5rem;
  text-align: left;
  overflow: hidden;
}

.listra {
  border-radius: 25px;
  width: 4px;
  margin-right: 0.4rem;
}

.icon {
  line-height: 1.33rem;
  margin-top: auto;
  margin-bottom: auto;
}

.divText {
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
}

.divText h3 {
  margin-top: 0.3rem;
  font-size: 0.8em;
}

.divText p {
  margin-top: -15px;
  margin-right: 10px;
  font-size: 0.7em;
  margin-bottom: 3px;
  text-align: justify;
}

.error-bgcolor {
  background-color: #f44336;
}

.success-bgcolor {
  background-color: #4caf50;
}

.info-bgcolor {
  background-color: #0092ff;
}

.warn-bgcolor {
  background-color: #ff9800;
}

.error-color {
  color: #f44336;
}

.success-color {
  color: #4caf50;
}

.info-color {
  color: #0092ff;
}

.warn-color {
  color: #ff9800;
}
