.infoDataDiv {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 70vw;
  max-width: 1600px;
  min-width: 800px;
  height: calc(100% - 1rem);
}

.tam48{
  width: 55%;
}

.tam17{
  width: 17%;
}

.tam10e5{
  width: 15%;
}

.tam12{
  width: 17%;
}

.tam23{
  width: 26.5%;
}

.tam31{
  width: 41%;
}

.Input{
  font-size: 0.8rem;
  max-height: 1rem;
  margin-right: 1rem;
}

:host ::ng-deep .mat-input-element {
  color: #0059ff !important;
  font-size: 1rem;
}

:host ::ng-deep .mat-select-value-text {
  color: #0059ff !important;
  font-size: 1rem;
}

:host ::ng-deep .mat-input-element:disabled {
  color: #92929d !important;
}

.clientPhoto{
  overflow: hidden;
}

.iconAv {
  font-size: 1rem;
  position: absolute;
  margin-top: -20px;
  margin-left: 30px;
  transition: 0.3s;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.iconEditAvatar{
  color: #0059ff;
  position: absolute;;
  background-color: #0059ff;
  display: none;
}

.iconAvatar{
  color: white;
  background-color: #0059ff;
}

.clientPhoto:hover .iconEditAvatar{
  background-color: white;
  display: flex;
  border: 1px solid white;
}

.clientPhoto:hover .changeAvatar {
  display: flex;
  transition: 1s;
}

.changeAvatar {
  width: 3.5rem;
  height: 3.5rem;
  margin-top: -3.5rem;
  background-color: rgba(0, 89, 255, 0.3);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.changeAvatar mat-icon {
  color: white;
}

.buttonWhite {
  width: 11rem;
  border: 1px solid #0059ff;
  position: absolute;
  bottom: 1rem;
  left: calc(70vw - 24rem);
}

.buttonWhite:hover {
  background-color: #e1f2ff;
}

.saveButton {
  width: 11rem;
  margin-left: 1rem;
  position: absolute;
  bottom: 1rem;
  left: calc(70vw - 12rem);
}





