.infoDataDiv {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 70vw;
  max-width: 1600px;
  min-width: 1100px;
}

.tam48{
  width: 48%;
}

.tam17{
  width: 17%;
}

.tam10e5{

  width: 10.5%;
}

.tam12{
  width: 12%;
}

.tam23{
  width: 23.2%;
}

.tam31{
  width: 31%;
}

.Input{
  font-size: 0.8rem;
  max-height: 1rem;
  margin-right: 1rem;
}

::ng-deep .mat-input-element {
  color: #0059ff !important;
}

::ng-deep .mat-input-element:disabled {
  color: #92929d !important;
}

.clientPhoto{
  overflow: hidden;
}

.iconAv {
  font-size: 1rem;
  position: absolute;
  margin-top: -20px;
  margin-left: 30px;
  transition: 0.3s;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

.iconEditAvatar{
  color: #0059ff;
  position: absolute;;
  background-color: #0059ff;
  display: none;
}

.iconAvatar{
  color: white;
  background-color: #0059ff;
}

.clientPhoto:hover .iconEditAvatar{
  background-color: white;
  display: flex;
  border: 1px solid white;
}

.clientPhoto:hover .changeAvatar {
  display: flex;
  transition: 1s;
}

.changeAvatar {
  width: 3.5rem;
  height: 3.5rem;
  margin-top: -3.5rem;
  background-color: rgba(0, 89, 255, 0.3);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
}

.changeAvatar mat-icon {
  color: white;
}

/*


.firstDiv{
    width: 70vw;
    display: flex;
}



.clientPhoto{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffff;
    transition: 0.3s;
}

.clientPhoto:hover{
    opacity: 0.5;
}

.iconEditAvatar{
    position: absolute;
    font-size: 0rem;
    transition: 0.3s;
}

.clientPhoto:hover .iconEditAvatar{
    font-size: 1.5rem;
    position: absolute;
}


.clientPhoto img{
    height: 100%;
}

.buttonsProfile{
    float: right;
    margin-right: 11vw;
    margin-top: 11vh;
    display: flex;
}

.buttonWhite{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    color: #383838;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.endereçoDiv{
    margin-top: 1rem;
    overflow: hidden;
}
*/





