<div class="infoDataDiv">
  <form action="" [formGroup]="profileForm" style="display: flex; flex-wrap: wrap; height: 6rem; margin-bottom: 2.5rem;">
      <mat-form-field class="tam48 Input firstIten" appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="fullName" matInput placeholder="Seu nome completo" />
        <mat-error *ngIf="true"></mat-error>
      </mat-form-field>

      <mat-form-field class="tam12 Input" appearance="outline">
        <mat-label>Número OAB</mat-label>
        <input type="number" formControlName="oab" matInput placeholder="975634" min="1" max="9999999" step="1"
               maxLength="7" />

        <!-- <mat-error *ngIf=""></mat-error> -->
      </mat-form-field>

      <mat-form-field class="tam10e5 Input" appearance="outline">
        <mat-label>Seccional UF</mat-label>
        <mat-select formControlName="oabuf">
          <mat-option *ngFor="let uf of ibgeService.ufs" [value]="uf.sigla">{{uf.sigla}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf=""></mat-error> -->
      </mat-form-field>

      <div class="flex clientPhoto" matTooltip="Trocar foto do perfil">
        <input type="file" id="fileInput" style="display: none;" />
        <app-avatar [imgUrl]="loginService.avatar" [nameString]="loginService.nome" sizeSelected="large"></app-avatar>
        <mat-icon class="iconAv iconAvatar" >edit</mat-icon>
        <mat-icon class="iconAv iconEditAvatar" >edit</mat-icon>

        <div class="changeAvatar">
          <mat-icon>image</mat-icon>
        </div>
      </div>

      <mat-form-field class="tam23 Input firstIten" appearance="outline">
        <mat-label>CPF</mat-label>
        <input formControlName="doc" [disabled]="true" mask="000.000.000-00" matInput placeholder="000.000.000-00" />
        <mat-error *ngIf="true"></mat-error>
      </mat-form-field>

      <mat-form-field class="tam23 Input" appearance="outline">
        <mat-label>Whatsapp</mat-label>
        <button mat-icon-button matSuffix [attr.aria-label]="'Hide Password'"
                [attr.aria-pressed]="hide">
          <mat-icon matTooltip="Clique para verificar" style="color: #969696">
            {{ !secondFactoreWhatsapp ? 'block' : 'check_circle_outline'}}
          </mat-icon>
        </button>
        <input formControlName="whatsapp" type="celphone" mask="(00) 00000-0000" matInput
               placeholder="(38) 99999-9999" />

        <!-- <mat-error *ngIf=""></mat-error> -->
      </mat-form-field>

      <mat-form-field class="tam31 Input" appearance="outline">
        <mat-label>Email</mat-label>
        <button mat-icon-button matSuffix [attr.aria-label]="'Hide Password'"
                [attr.aria-pressed]="hide">
          <mat-icon matTooltip="Clique para verificar" style="color: #969696">
            {{ !secondFactoreEmail ? 'block' : 'check_circle_outline'}}
          </mat-icon>
        </button>
        <input type="email" formControlName="email" matInput placeholder="email@provedor.com" />

        <!-- <mat-error *ngIf=""></mat-error> -->
      </mat-form-field>

  </form>

  <span style="font-size: 0.75rem; font-weight: bold;">Endereço</span>
  <div style="border-top: 1px solid #dadada; width: calc(100% - 60px); margin-left: 60px; margin-top: -10px; margin-bottom: 1rem;"></div>
  <app-adress-forms [(values)]="newAdress" class="fullwidth"></app-adress-forms>


  <button [disabled]="!profileForm.valid" mat-raised-button color="primary" class="saveButton" (click)="saveInfo()">Salvar</button>
  <button mat-raised-button class="buttonWhite uprblue">Cancelar</button>
</div>
