<form (onSubmit)="save()" action="" [formGroup]="adressForm">
  <div *ngIf="addAdress" class="firstDiv">
    <mat-form-field class="tam10p5 Input" appearance="outline">
      <mat-label>Tipo</mat-label>
      <input formControlName="tipo" type="string" matInput placeholder="Escritório">
      <mat-error *ngIf="true"></mat-error>
    </mat-form-field>

    <mat-form-field class="tam10p5 Input" appearance="outline">
      <mat-label>Cep</mat-label>
      <input formControlName="cep" mask="00.000-000" matInput placeholder="00.000-000">

      <!-- <mat-error *ngIf=""></mat-error> -->
    </mat-form-field>

    <mat-form-field class="tam18 Input" appearance="outline">
      <mat-label>Logradouro</mat-label>
      <input formControlName="logradouro" matInput placeholder="Avenida Brasil">
      <!-- <mat-error *ngIf=""></mat-error> -->
    </mat-form-field>

    <mat-form-field class="tam6p2 Input" appearance="outline">
      <mat-label>Número</mat-label>
      <input formControlName="numero" matInput placeholder="123">
      <!-- <mat-error *ngIf=""></mat-error> -->
    </mat-form-field>
  </div>
  <div *ngIf="addAdress" class="firstDiv">

    <mat-form-field class="tam10p5 Input firstIten" appearance="outline">
      <mat-label>Complemento</mat-label>
      <input formControlName="complemento" matInput placeholder="Ap 101 Ao lado dos correios">
      <mat-error *ngIf="true">DIgite</mat-error>
    </mat-form-field>

    <mat-form-field class="tam18 Input" appearance="outline">
      <mat-label>Bairro</mat-label>
      <input formControlName="bairro" matInput placeholder="centro">
      <!-- <mat-error *ngIf=""></mat-error> -->
    </mat-form-field>

    <mat-form-field class="tam6p2 Input" appearance="outline">
      <mat-label>UF</mat-label>
      <!--<input matInput placeholder="pat@example.com">-->
      <mat-select (valueChange)="setCitie($event)" formControlName="estado">
        <mat-option *ngFor="let uf of ibgeService.ufs" [value]="uf.sigla">{{uf.sigla}}</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf=""></mat-error> -->
    </mat-form-field>


    <mat-form-field class="tam10p5 Input" appearance="outline">
      <mat-label>Cidades</mat-label>
      <!--<input matInput placeholder="pat@example.com">-->
      <mat-select formControlName="cidade">
        <mat-option *ngFor="let citie of cidades" [value]="citie">{{citie}}</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf=""></mat-error> -->
    </mat-form-field>
  </div>
</form>
<div *ngIf="addAdress" class="addAdressButtons">
  <mat-icon (click)="addAdress === true ? addAdress = false : addAdress = true; adressForm.reset();"
            matTooltip="Cancelar" class="roundIcon closeIcon">close</mat-icon>
  <mat-icon [ngClass]="!adressForm.valid ? 'iconDisabled' : ''" (click)="saveAddress(adressForm.valid)"
            class="roundIcon addIcon">done</mat-icon>
</div>

<div class="addressArea fullwidth " *ngIf="!addAdress">
  <div *ngFor="let adress of values" class="itemAddress fullwidth">
    <div class="infoAdress fullwidth">
      <mat-icon class="roundIcon iconRes" color="primary">where_to_vote</mat-icon>
      <div class="infoText">
        <span class="tipoAdress"> {{adress.tipo}}</span>
        <br>
        <span>{{adress.logradouro}}, {{adress.numero}}, {{adress.complemento}} - {{adress.bairro}}</span>
        <br>
        <span>{{adress.cep}} - {{adress.cidade}} - {{adress.estado}}</span>
      </div>
    </div>

    <div class="iconsAdress">
      <mat-icon class="roundIcon editIcon" color="primary" matTooltip="Editar">edit</mat-icon>
      <mat-icon class="roundIcon excludeIcon" color="warn" matTooltip="Remover">delete</mat-icon>
    </div>
  </div>
</div>

<div *ngIf="!addAdress" class="addAdressButtons">
  <mat-icon (click)="addAdress === false ? addAdress = true : addAdress = false" class="roundIcon addIcon">add</mat-icon>
</div>


