.iconImg {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.iconImg img {
  height: 100%;
}

.iconText {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.purple {
  background-color: #6929c4;
}

.red {
  background-color: #d1020b;
}

.magenta {
  background-color: #9f1853;
}

.green {
  background-color: #0e6027;
}

.black {
  background-color: #161616;
}

.pink {
  background-color: #653e36;
}

.smaller {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.6rem;
}

.small {
  height: 2rem;
  width: 2rem;
  font-size: 0.8rem;
}

.medium {
  height: 2.5rem;
  width: 2.5rem;
}

.normal {
  height: 3rem;
  width: 3rem;
}

.large {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
}

.larger {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
