<div class="mat-dialog-content">
  <div class="backIcon">
    <mat-icon>arrow_back</mat-icon>
  </div>
  <div class="h1List">
    <h1>Instalação de certificado</h1>
    <p>
      Confira os dados do seu certificado para continuar.
    </p>

  </div>

  <div class="A1List">
    <div class="A1Ables" *ngFor="let a1 of reciveListA1">
      <div class="A1Certify">
        <div class="iconCertify">
          <mat-icon class="material-icons-outlined">cloud_done</mat-icon>
        </div>
        <div class="A1Name">
          <!-- <mat-icon class="arrowBackIcon" color= "primary">dvr</mat-icon> -->
          {{a1.name}}
          <br>
          <span class="A1Data"> Emissor: {{a1.emissor}}</span>
          <span class="A1Data">Validade: {{a1.validade}}</span>
        </div>
      </div>
    </div>
    <div class="button">
      <button mat-raised-button color="primary" (click)="closeDialog()">Confirmar</button>
    </div>
  </div>

</div>