
.h1List{
}
.mat-dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.backIcon {
    width: 40%;
    float: left;
    position: absolute;
  }
  .backIcon mat-icon {
    float: left;
    margin-left: 1.8rem;
    color: #0059FF;
  }
.backIcon{
    float: left;
    margin-left: 1rem;
    margin-top: 0.2rem;
    position: absolute;
    font-size: 0.7rem;
}
.textHeader{
    display: flex;
    flex-direction: column;
}

.forms{
    display: flex;
    flex-direction: column;
    width: 20.4rem;
}



.certifyList{
    color: #0059FF;
    width: 43%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 15px;
    background-color: rgb(246, 246, 246);
    overflow: hidden;
  }
  
  .h1List h1{
    margin-top: 1.2rem;
    width: 100%;
    font-size: 1.2rem;
    color: black;
  }
  
  .iconCertify{
    float: left;
    position: relative;
  }
  .header{
    width: 100%;
  }
  
  
  .material-icons-outlined{
    color: #0059FF;
    font-size: 1.2rem;
  }
  
  
  .certifyListTxt{
    text-align: center;
  }
  
  .A1List{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 335px;
  }
  
  .A1Ables{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .A1Certify{
    border: 0.5px solid rgba(201, 197, 197, 0.631);
    width: 75%;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .A1Certify:hover{
    border: 0.5px solid rgb(201, 197, 197);
    background-color: #4f8dff12;
  }
  
  .A1Name{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2rem;
  }
  
  .A1Name p{
    margin-left: 10rem;
  }
  
  .A1Data{
    font-size: 10px;
  }
  
  .ativoCertify{
    padding-left: 2rem;
  }

  .button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button button{
 padding: 0rem 6rem;
  }