<div class="loginBox">
  <auth-backicon style="align-self: start" (click)="logout()"></auth-backicon>

  <app-alert *ngIf="!loginService.isElectron" title="Certificados A3 indisponiveis" type="info" class="alertBox"
             message="Os certificados A3 só podem ser usados na versão desktop"
             link="https://google.com" linkText="Baixar versao desktop" canclose="true"
  ></app-alert>

  <div *ngIf="certiList.length == 0" class="noneDetectedImg">
      <img src="assets/imgs/noneCertify.svg" alt="Nenhum certificado encontrado">
  </div>

  <h1 *ngIf="certiList.length == 0">Não encontramos nenhum certificado! </h1>
  <h1 *ngIf="certiList.length > 0" class="seletecTitle">Selecione o certificado digital</h1>
  <p *ngIf="certiList.length == 0 && loginService.isElectron" class="subtitle">Certifique-se de ter plugado o token ou adicione um certificado válido</p>
  <p *ngIf="certiList.length == 0 && !loginService.isElectron" class="subtitle">Adicione um certificado A1 ou continue sem certificado</p>

  <div *ngIf="certiList.length > 0" class="certiListBlock">
    <div (click)="openPinDialog(certi.type)" class="certiItem" *ngFor="let certi of certiList">
      <mat-icon *ngIf="certi.type == 1" class="material-icons-outlined uprblue">cloud_done</mat-icon>
      <img *ngIf="certi.type == 2" src="assets/svg/icons/usb-flash-drive-outline.svg" class="material-icons-outlined usvgprblue" />

      <p class="certiName">{{certi.name}}</p>
      <span class="certiData"> Emissor: {{certi.emissor}}</span>
      <span class="certiData">Validade: {{certi.validade}}</span>
    </div>
  </div>

  <button mat-raised-button (click)="addCertifyA1()" *ngIf="certiList.length === 0" class="noneDetectedButton uprblue">
    Adicione Certificado A1
    <img src="assets/svg/icons/cloud_ckeched.svg" />
  </button>

  <div class="flexsb fullwidth">
      <button (click)="withoutCertify()" class="buttonNoCertify uprblue">
        Entrar sem certificado
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button (click)="usingLogin()" class="buttonNoCertify uprblue">
        Usando login e senha PJE
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <button (click)="showHelp()" class="buttonNoCertify uprblue">
        Preciso de ajuda <mat-icon>help_outlined</mat-icon>
      </button>
  </div>
</div>
