/*Principal*/
.loginBox {
  min-width: 35rem;
  max-width: 40rem;
  max-height: 35rem;
}

.alertBox {
  width: 30rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

/*Sem certificado*/
.noneDetectedImg{
  width: 12rem;
  height: 11rem;
  margin-top: -2rem;
}

.noneDetectedButton {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #0059FF;
  border-radius: 8px;
  padding: 0rem 2rem;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: bold;
  height: 3rem;
  width: 18rem;
}

.noneDetectedButton:hover{
  background-color: #e1f2ff;
}

.noneDetectedButton img {
  margin-top: -5px;
  width: 1.5rem;
  height: 1.3rem;
  filter: invert(21%) sepia(89%) saturate(5018%) hue-rotate(219deg) brightness(103%) contrast(104%);
}

.buttonNoCertify {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
}
/*Fim do bloco da exibicao do certificado*/

/*Exibićão dos certificados*/
.seletecTitle {
  margin-top: -2rem;
}

.certiListBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 23rem;
  overflow-y: scroll;
}

.iconCertify {
  float: left;
  position: relative;
}

.certiItemSelected {
  border: 0.5px solid #dadada;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.certiItem {
  cursor: pointer;
  border: 0.5px solid #dadada;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.certiItem:hover {
  border: 0.5px solid #0059FF;
  background-color: #bfe2ff;
}

.certiName {
  width: 90%;
  text-align: left;
  margin: 0px;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.certiData {
  font-size: 0.75rem;
  width: 90%;
  text-align: left;
  margin-left: 2.5rem;
}

/*Fim da exibicao dos certificados*/
