<div class="loginBox" *ngIf="!selected">
  <auth-backicon style="align-self: start" (click)="logout()"></auth-backicon>

  <app-alert *ngIf="!loginService.isElectron" title="Certificados A3 indisponiveis" type="info" class="alertBox"
             message="Os certificados A3 só podem ser usados na versão desktop"
             link="https://google.com" linkText="Baixar versao desktop" canclose="true"
  ></app-alert>

  <div *ngIf="certiList.length == 0" class="noneDetectedImg">
      <img src="assets/imgs/noneCertify.svg" alt="Nenhum certificado encontrado">
  </div>

  <h1 *ngIf="certiList.length == 0">Não encontramos nenhum certificado! </h1>
  <h1 *ngIf="certiList.length > 0" class="seletecTitle">Selecione o certificado digital</h1>
  <p *ngIf="certiList.length == 0 && loginService.isElectron" class="subtitle">Certifique-se de ter plugado o token ou adicione um certificado válido</p>
  <p *ngIf="certiList.length == 0 && !loginService.isElectron" class="subtitle">Adicione um certificado A1 ou continue sem certificado</p>

  <div *ngIf="certiList.length > 0" class="certiListBlock">
    <div (click)="selectItem(certi)" class="certiItem" *ngFor="let certi of certiList">
      <mat-icon *ngIf="certi.type == 1" class="material-icons-outlined uprblue">cloud_done</mat-icon>
      <img *ngIf="certi.type == 2" src="assets/svg/icons/usb-flash-drive-outline.svg" class="material-icons-outlined usvgprblue" />

      <p class="certiName">{{certi.name}}</p>
      <span class="certiData"> Emissor: {{certi.emissor}}</span>
      <span class="certiData">Validade: {{certi.validade}}</span>
    </div>
  </div>

  <button mat-raised-button (click)="addCertifyA1()" *ngIf="certiList.length === 0" class="noneDetectedButton uprblue">
    Adicione Certificado A1
    <img src="assets/svg/icons/cloud_ckeched.svg" />
  </button>

  <div class="flexsb fullwidth">
      <button (click)="withoutCertify()" class="buttonNoCertify uprblue">
        Entrar sem certificado
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button (click)="usingLogin()" class="buttonNoCertify uprblue">
        Usando login e senha PJE
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <button (click)="showHelp()" class="buttonNoCertify uprblue">
        Preciso de ajuda <mat-icon>help_outlined</mat-icon>
      </button>
  </div>
</div>
<div class="loginBox" *ngIf="selected">
  <auth-backicon style="align-self: start" (click)="deselect()"></auth-backicon>
  <h1 *ngIf="selectedItem.type === 1" style="margin-top: -2rem">Insera a senha CSU</h1>
  <h1 *ngIf="selectedItem.type === 2" style="margin-top: -2rem">Informe o PIN do certificado</h1>
  <div class="certiListBlock">
    <div class="certiItemSelected">
      <mat-icon *ngIf="selectedItem.type == 1" class="material-icons-outlined uprblue">cloud_done</mat-icon>
      <img *ngIf="selectedItem.type == 2" src="assets/svg/icons/usb-flash-drive-outline.svg" class="material-icons-outlined usvgprblue" />

      <p class="certiName">{{selectedItem.name}}</p>
      <span class="certiData"> Emissor: {{selectedItem.emissor}}</span>
      <span class="certiData">Validade: {{selectedItem.validade}}</span>
    </div>
  </div>
  <div class="flexsb fullwidth">
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input #passCerti matInput [type]=" hide ? 'password' : 'text'" required style="width: 18rem;" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide">
        <mat-icon>
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary"(click)="confirmPin(passCerti.value)"
            style="width: 18rem; height: 3.5rem; margin-top: 5px; margin-right: 5px">
      Confirmar
    </button>
  </div>
  <div class="fullwidth">
    <button (click)="showHelp()" class="buttonNoCertify uprblue" style="float: right">
      Preciso de ajuda <mat-icon>help_outlined</mat-icon>
    </button>
  </div>
</div>
