<!-- <span>Autenticação de 2 fatores</span>
<mat-stepper linear #stepper>
    <mat-step  >
      <h1>Adicionar Certificado A1</h1>
      <div [formGroup]="a1Forms" class="inputAdicionarA1">

        <div class="dropzone">
          <div class="dropContent">
            <input  formControlName="fileA1" type="file" #fileDropRef id="fileDropRef"
                   multiple/>
            <mat-icon>cloud_done</mat-icon>
            <div>
              Arraste e solte seu arquivo aqui
              <h3>-----ou-----</h3>
            </div>
            <label formControlName="fileA1" for="fileDropRef"> Escolha o arquivo </label>
          </div>
        </div>
        <br>
      </div>

    </mat-step> 
    <mat-step  >

    </mat-step>
    <mat-step>
    
    </mat-step>
    <mat-step>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>


  
  </mat-stepper> -->