.loginBox {
  min-width: 30rem;
  max-width: 38rem;
}

/*Bloco da primeira pagina da adicao de certificado A1*/
h1 {
  margin-top: -2rem;
  font-size: 1.5rem;
}

.dropzone {
  padding: 2rem 0rem;
}

.dragarea {
  background-color:#e1f2ff;
  border: dashed 2.5px #0059ff;
}

.droparea {
  background-color:#bae6ff;
  border: dashed 2.5px #0059ff;
}

.dropContent button {
  width: 16rem;
}

.cloudIcon {
  width: 3.5rem;
  height: 2.5rem;
  filter: invert(22%) sepia(91%) saturate(5120%) hue-rotate(219deg) brightness(103%) contrast(103%);
}

/*Senha do certificado*/
.buttonNoCertify {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  float: right;
}

/*Pagina de confirmacao de certificado*/
.certiHeader {
  background-color: #eaeaea;
  border: 1px solid #dadada;
  height: 4rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certiHeader img {
  margin-left: 1rem;
}

.certiHeader p {
  margin-left: 0.5rem;
  font-weight: bold;
  color: #666;
}

.certiItem {
  border: 0.5px solid #dadada;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0rem;
}

.certiItem mat-icon {
  margin-left: 2rem;
}

.certiName {
  width: 80%;
  text-align: left;
  margin: 0px;
  margin-left: 1rem;
  font-size: 1rem;
}

.certiData {
  font-size: 0.75rem;
  width: 90%;
  text-align: left;
  margin-left: 4.5rem;
}
/*Fim do bloco da adicao do A1*/

/*
.textList {
  display: flex;
  color: black;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.textList h1{
  height: 1.3rem;
  font-size: 1.5rem;
  color: #161616;
  font-weight: 500;
}

.textList span{
  font-size: 1rem;
  color: #666666;
}

.alert{
  width: 60rem;
  height: 5rem;
  margin-top: 0.8rem;
}

.noneDetectedText{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.noneDetectedH1{
  height: 1.7rem;
  color: black;
  position: relative;
}

.noneDetectedP{
  color: black;
}



.noneDetectedImg img{
  width: 12.8rem;
}


!* ------------------------------------------------------------------------------------------------------------------ *!

.certifyList{
  color: #0059FF;
  width: 43vw;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 15px;
  background-color: rgb(246, 246, 246);
  overflow: hidden;
}



.iconCertify{
  float: left;
  position: relative;
}
.header{
  width: 100%;
}


.material-icons-outlined{
  color: #0059FF;
  font-size: 1.2rem;
}


.certifyListTxt{
  text-align: center;
}

.A1List{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 305px;
  overflow-y: scroll;
}

.A1Ables{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.A1Certify{
  border: 0.5px solid rgba(201, 197, 197, 0.631);
  width: 75%;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

.A1Certify:hover{
  border: 0.5px solid rgb(201, 197, 197);
  background-color: #4f8dff12;
}

.A1Name{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2rem;
}

.A1Name p{
  margin-left: 10rem;
}

.A1Data{
  font-size: 10px;
}

.ativoCertify{
  padding-left: 2rem;
}

.footerList{
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}



!* ------------------------------------------------------------------------------------------------------------------------ *!

.adicionarA1Div{
  color: #0059FF;
  width: 35%;
  text-align: center;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 15px;;
  background-color: #fff;
}



.iconAdd{
  float: left;
  margin-left: 1rem;
  margin-top: 0.2rem;
  position: absolute;
  font-size: 0.7rem;
}

.h1Add{
  margin-top: 1.2rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  color: black;
}

.h1AddCertify h1{
  color: black;
  font-size: 1.4rem;
}

.dropzone{
  width: 68%;
  height: 5rem;
  background-color:#e1f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 2rem;
  text-align: center;
  border: dashed 2.5px #0059ff7a;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}

.dropContent{
  margin-bottom: 2rem;
}

input {
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

label{
  color: white;
  border-radius: 5px;
  background-color: #0059FF;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

h3{
  font-size: 1rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
}

.mat-tab-body-body-wrapper{
  border-radius: 15px;
}*/
