<nav class="sideNav" (mouseenter)="thisIsOpen()" (mouseleave)="thisIsOpen()"
     [@onSideNavChange]="isOpen ? 'open' : 'close'">
  <div class="iconArea">
    <div class="logoImg">
      <img src="/assets/imgs/logo2.png" alt="logo unico">
    </div>
    <div class="white"></div>
  </div>
  <ul class="sideNavUl" style="list-style: none;">
    <div class="firstDiv" style="margin-top: 0.3rem;">
      <li (click)="itenSelection('Home')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Home'}" src="/assets/svg/icons/icone_inicio.svg"
             alt=""> ínicio
      </li>

      <li (click)="itenSelection('Processos')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Processos'}"
             src="/assets/svg/icons/icone_processos.svg" alt=""> Processos
      </li>

      <li (click)="itenSelection('Publicacoes')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Publicacoes'}"
             src="/assets/svg/icons/icone_publicacoes.svg" alt=""> Publicações
      </li>

      <li (click)="itenSelection('Atendimentos')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Atendimentos'}"
             src="/assets/svg/icons/icone_atendimento.svg" alt=""> Atendimentos
      </li>

      <li (click)="itenSelection('Clients')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Clients'}" src="/assets/svg/icons/icone_cliente.svg"
             alt=""> Clientes
      </li>

      <li (click)="itenSelection('Calendar')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Calendar'}"
             src="/assets/svg/icons/icone_calendario.svg" alt=""> Calendário

      </li>

      <li (click)="itenSelection('Documents')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Documentsr'}"
             src="/assets/svg/icons/icone_documentos.svg" alt=""> Documentos
      </li>

      <li (click)="itenSelection('Configs')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Configs'}"
             src="/assets/svg/icons/icone_configuracoes.svg" alt=""> Congfigurações
      </li>

    </div>


    <div class="finalList">
      <li (click)="itenSelection('Help')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Help'}" src="/assets/svg/icons/icone_ajuda.svg"
             alt=""> Ajuda
      </li>


      <li (click)="itenSelection('Out')">
        <img class="icon" [ngClass]="{'checked': itenSelected == 'Out'}" src="/assets/svg/icons/icone_sair.svg" alt="">
        Sair
      </li>
    </div>
  </ul>
