.sideNav {
  overflow: hidden;

  z-index: 2000;
  position: absolute;

  border-right: 1px solid #eaeaea;
  background-color: #ffff;
  height: calc(100% - 1.5rem);
  min-height: 600px;
  max-height: 1080px;
}

.iconArea {
  background-color: #0059ff;
  height: 3.5rem;
}

.iconArea img {
  height: 2rem;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}

.checked {
  font-weight: bold;
  border-right: 5px solid blue;
}

.checked img {
  filter: invert(28%) sepia(76%) saturate(7066%) hue-rotate(219deg) brightness(104%) contrast(105%);
}

.bottomOptions {
  margin-top: calc(100vh - 480px);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  height: 2.5rem;
  /*width: 11rem;*/
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

li img {
  margin-top: 10px;
}

li:hover {
  background-color: aliceblue;
}

.icon {
  margin-left: 10px;
  margin-right: 20px;
  width: 2rem;
  height: 1rem;
}

li:hover .icon {
  filter: invert(28%) sepia(76%) saturate(7066%) hue-rotate(219deg) brightness(104%) contrast(105%);
}




/*








.sideNav::-webkit-scrollbar {
  width: 0px;
}




.finalList {
  bottom: 0rem;
}

li mat-icon {
  margin-right: 1.3rem;
  margin-left: 1.2rem;
}



mat-icon {
  color: #92929dad;
  font-size: 1.4rem;
}


li:hover {
  background-color: #dbeefd;
  color: black;
}*/


/* .sideNavUl:hover{
        width: 14rem;
}

.sideNav:hover {
    width: 14rem;
    position: fixed;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y:scroll;
} */
