/* You can add global styles to this file, and also import other style files */
/* *{
  font-family:'Poppins';
}
 */

body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: #161616;
  line-height: 2rem
}

.subtitle {
  font-size: 1rem;
  color: #666;
  line-height: 1rem;
}

.subtitle2 {
  font-size: 1rem;
  color: #979797;
  line-height: 1rem;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 25rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 15px;;
  background-color: #fff;
  padding: 0rem 2rem 1rem 2rem;
}

.flexsb {
  display: flex;
  justify-content: space-between;
}

.fullwidth {
  width: 100%;
}

.linkIcon {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.mat-dialog-container {
  border-radius: 20px !important;
}

a {
  text-decoration: none;
}

.errorSpan {
  color: #ff0000;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
}


.forms {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.primaryButton {
  background-color: #0059FF;
  color: white;
  width: 24rem;
  height: 2.98rem;
  font-size: 1rem;
  line-height: 1rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.buttonForms {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
}

button {
  transition: 0.7s;
}

h3 {
  font-size: 1rem;
  line-height: 1.125rem;
  color: #666666;
}

.mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CORES DO UNICO*/

.uprblue {
  color: #0059FF;
}

.usvgprblue {
  /*filter: invert(22%) sepia(67%) saturate(4845%) hue-rotate(217deg) brightness(100%) contrast(110%);*/
  filter: invert(28%) sepia(76%) saturate(7066%) hue-rotate(219deg) brightness(104%) contrast(105%);
}

.ulgblue {
  color: #0059FF;
}

.ubgprblue {
  background-color: #0059FF;
}

.ubglgblue {
  background-color: #0059FF;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  border: solid 3px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #92929d;
  border-radius: 10px;
  border: solid 3px transparent;
}
