.loginForms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 23rem;
  min-width: 33rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 15px;;
  background-color: #fff;
  /* overflow: hidden; */
}

.first{
  display: flex;
  align-items: center;
  width: 30rem;
  justify-content: space-between;  
}

.header{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.title{
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #161616;
  line-height: 1.5rem;
}

.loginForms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.274) 0px 5px 15px;;
  background-color: #fff;
  /* overflow: hidden; */
}

.formField{
  width: 100%;
}
