<div class="loginForms">
  <div class="backIcon">
    <mat-icon (click)="backToLogin()">arrow_back</mat-icon>
  </div>

  <div class="textList">
    <h1>Esqueci minha senha</h1>
    <span>Insira o seu CPF para continuar.</span>
  </div>

  <form (ngSubmit)="onSubmit()" name="loginForms" [formGroup]="loginForm" class="forms">

    <mat-form-field class="formField" appearance="outline" hideRequiredMarker>
      <mat-label>CPF</mat-label>
      <input mask="000.000.000-00" formControlName="login" class="input" matInput placeholder="Digite seu login"
             required/>
      <mat-icon *ngIf="loginForm.controls['login'].value"
                matSuffix [color]="!loginForm.controls['login'].valid ? 'warn' : 'primary'">
        {{!loginForm.controls['login'].valid ? 'block' : 'check_circle_outline'}}
      </mat-icon>

      <mat-error *ngIf="!loginForm.controls['login'].valid">
        Digite um CPF válido.
      </mat-error>
    </mat-form-field>


  </form>

  <button [disabled]="!loginForm.valid" class="primaryButton" (click)="sendToServer()" mat-raised-button
          color="primary">
    Enviar
  </button>


</div>
