.errorIcon {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  align-items: center;
  display: flex;
  font-size: 3.75rem !important;
}

h1 {
  margin-top: -2rem;
}

.formField {
  font-size: 0.8rem;
}

.subtitle2 {
  margin-top: -10px;
}

.mailmask {
  font-size: 1.5rem;
  margin-top: -10px;
}

.btnretorno {
  width: 15rem;
}

