.core {
  display: flex;

  height: calc(100vh - 1.5rem);
  width: 100vw;
  margin: auto;

  min-width: 1150px;
  max-width: 1920px;
  min-height: 602px;
  max-height: 1080px;
}

.sidebar {
  height: 100%;
  width: 3.5rem;
  margin-bottom: 2rem;
}

.main {
  width: calc(100% - 3.5rem);
  height: calc(100%);
  margin-bottom: 2rem;
}

.content {
  padding: 0px;
  margin: 0px;
  height: calc(100% - 3.5rem);
  overflow-y: scroll;
  overflow-x: hidden;
}


/*
.core {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:flex-start;
  height:100%;
  width:100%;
  min-width: 1150px;
  max-width: 1920px;
  min-height: 602px;
  max-height: 1080px;
  margin: auto;
  overflow: hidden;
}

.sidebar {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  height: 97%;
  min-width: 4rem;
  max-width: 4rem;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 3.5rem;
  width: 100%;
}

.content {
  flex: 1;
  overflow: auto;
  min-height: 500px;
}
.content::-webkit-scrollbar {
  width:0px;
}

.content::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-radius: 10px;
}

.footer {
  height: 1.5rem;
  width: 100%;
  bottom: 0;
  position: relative;

  background-color: #0031cb;
  color: rgb(255, 255, 255);
}


*/


