<mat-tab-group>
  <mat-tab label="Perfil">
    <app-info-data></app-info-data>
  </mat-tab>

  <mat-tab label=" Plano">
    <app-plan-data></app-plan-data>
  </mat-tab>

  <mat-tab label="Senhas">
    <app-security-data></app-security-data>
  </mat-tab>

  <mat-tab label="Tribunais">
    <app-manager-courts></app-manager-courts>
  </mat-tab>

  <mat-tab label="Certificados">
    <app-manager-process></app-manager-process>
  </mat-tab>

  <mat-tab label="Notificaćões">
  </mat-tab>
</mat-tab-group>
